@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');

/* root styling */
:root{
    --light :#dff2f0;
    --secondary:#74807c;
    --dark:#262928;
    --primary-color:#28B8C3;
    --secondary-color:#E71C5E;
    --border:#cadbde;
}
body{
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;

}
/* global styling */
.object-fit{
    max-height: 120px;
    height: 80px;
    width: 80px;
    object-fit: fill;
}
.d-flex{
    display:flex;
}
.justifty-content-center{
    justify-content: center;
}
.justifty-content-between{
    justify-content: space-between;
}

.mt-2{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.px-1{
    padding-left: 5px;
    padding-right:5px;
}
.px-2{
    padding-left: 25px;
    padding-right:25px;
}
.py-1{
    padding-top:10px;
    padding-bottom:10px;
}
.py-2{
    padding-top:20px;
    padding-bottom:20px;
}
.rounded-corners{
    border-radius:4px;
}

/* global/colors */
.text-light{
    color:var(--light)
}
.text-secondary-light{
    color:var(--secondary)
}
.text-dark{
    color:var(--dark)
}
.text-primary{
    color:var(--primary-color)
}
.text-secondary{
    color:var(--secondary-color)
}
.text-border{
    color:var(--border)
}
.bg-light{
    background-color:var(--light);
}

.container{
    max-width: 1200px;
    padding:0 15px;
    margin:auto;
}
.img-fluid{
    width:100%;
    padding-left: 0px;
    align-self: center;

}
.text-title{
    font-family: "DM Sans", sans-serif;
    font-weight:bold;
}
.text-title:hover{
    font-family: "DM Sans", sans-serif;
    font-weight:bold;
    color:var(--primary-color)
}
.secondary-title{
    font-family: "Poppins", sans-serif;
}

.display-1{
    font-size: 22px;
}
.display-2{
    font-size: 18px;
}
.display-3{
    font-size: 14px;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
/* section styling */



/* Main Styling */
#site-main{
    margin-top:4em;
}
#posts{
    margin-bottom:5em;
}
.grid{
    margin:0 auto;
}
.grid .grid-item{
    border-radius: 1em;
    border-top-left-radius: 1em;
    width:calc(33.333% - 20px);
    margin-bottom:3em;
    align-self: center;
    overflow:hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn{
    padding:15px 20px;
    border: none;
}
.btn-primary{
    border-radius: 4px;
    background-color: var(--secondary-color);
}
.btn:hover{
    background-color: var(--primary-color);
}
.card{

}
/* .Main Styling. */



/* Navigation Menu Styling */
.header-style{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 10px;
    
}
.nav-brand{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.nav-brand:hover{
    color:var(--primary-color)
}
.collapse{
    align-self: center;
}
.nav-link{
    font-size: 20px;
    margin: 12px;
    color:var(--dark);
    font-family: 'DM Sans', sans-serif;
}
.nav-link:hover{
    color:var(--primary-color);
}

.toggle-button{
    font-size: 21px;
    background: transparent;
    border:none;
    position: absolute;
    right:0;
    margin: 8px 12px;
    display:none;
}
.toggle-button:focus{
    outline:none;
}
.toggle-button:hover{
    outline:none;
    color:var(--primary-color);
    cursor: pointer;

}

/* .Navigation Menu Styling. */

/* Media Query */
.row{
    display:flex;

}
.col-3{
    flex:0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 2em;
    overflow:hidden;
    
}

@media(max-width: 1024px){
}



@media(max-width: 992px){
    .navbar{
        flex-direction: column;
    }
    .collapse-toggle{
        max-height:500px;
    }
}


@media(max-width: 768px){
    .grid .grid-item{
        width: calc(50% - 18px);
        align-self: center;

    }
    

}


@media(max-width: 574px){

    .toggle-button{
        display: initial;
    }

    .collapse{
        max-height: 0;
        overflow:hidden;
        transition: all 0.7s cubic-bezier( .42, 0, .58, 1 );
    }

    .collapse .nav-link{
        display: block;
        text-align:center;
    }

    .search-box{
        border-right:none;
    }
    
    .grid .grid-item{
        width: calc(100% - 18px);
        align-self: center;
    }
    
    .row{
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .col-3{
    flex:0 0 100%;
    max-width: 100%;
    padding-right: 18px;
    
    }   
    
    
}

/* Footer */

#footer{
    padding-top:2em;
    padding-bottom: 4em;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#footer .feature .flex-item{
   margin-bottom: 10px;
   border-radius: 1em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 0.5em;

}

.footer-contact-icon{

    margin: 6px;
    color:var(--secondary-color);
    font-family: 'DM Sans', sans-serif;
}
.footer-contact-icon:hover{
    color:var(--primary-color);
}
.footer-contact{
 
    margin: 1px;
    color:var(--secondary-color);
    font-family: 'DM Sans', sans-serif;
}
.footer-contact:hover{
    color:var(--primary-color);
}

/* .Footer */